{% extends "base.html.twig" %}

{% block title %}
	Forgotten Password
{% endblock %}

{% block body %}

	<br>
	<br>
	<div class="container-fluid bg-light ">
		<img class="d-block mx-auto mb-4" src="{{ asset ('image/P logo.png')}}" alt="" width="150" height="150">

		<h2 class="text-center text-muted">Account recovery</h2>
		<br>
		<P class="text-center text-muted">Enter your email and we'll send you a link to get back into your account</P>
		<br>
		{{ form(emailForm) }}

		</div>
	{% endblock %}
