{% extends "base.html.twig" %}

{% block title %}
	Modify -
{% endblock %}

{% block body %}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container bg-light mb-2">
		<h1 class="text-center">
			<strong>Modify your password</strong>
		</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary">Modify Password</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
